/* 
    Created on : 29 sept. 2020, 12:41:51
    Author     : user
*/
/* background: linear-gradient(to right, lightpink, #ffecf2); */

body {
  background-color: gainsboro !important;
}

@media only screen and (min-width: 768px) {
  .profile {
    margin: 20px 10% !important;
  }

  .profile-sidebar {
    max-width: 275px;
  }
}

.titre-section {
  color: black;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: rgba(255, 255, 255, 0.562);
  top: 10px !important;
  /* max-width: 275px; */
  margin-bottom: 10px;
}

.profile-userpic {
  text-align: center;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.562);
  min-height: 460px;
  color: #5a7391;
  font-family: monospace;
  margin-bottom: 20px;
  font-size: large;
}

#apropos {
  min-height: fit-content;
}

.logo-socials {
  width: 40px;
  height: 40px;
}

#linkedin{
  width: 45px;
  height: 45px;
}

.btn-profile {
  width: 80%;
}

.btn-pair {
  background: lightSlategray;
}

.btn-impair {
  background: lightpink;
}

.carte {
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0);
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: max-content;
  width: 100%;
}

.lien-projet {
  color: rgba(0, 0, 0, 0);
  font-weight: bold;
  font-size: xx-large;
}

/* @media screen and (min-width: 700px) {
    .carte {
        width: 45%;
    }
} */

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carte:hover {
  color: black;
}

.carte:hover a {
  color: black;
}

.description {
  width: fit-content;
  cursor: default;
}

.sous-titre-description {
  font-weight: bold;
}

.justified {
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.liste-technos {
  text-align: start;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.assombrirgsb {
  opacity: 0.3;
  filter: drop-shadow(25px 8px 10px CornflowerBlue);
}

.assombrirmdl {
  opacity: 0.3;
  filter: drop-shadow(25px 8px 10px gold);
}

.assombrirtennis {
  opacity: 0.3;
  filter: drop-shadow(25px 8px 10px rgb(0, 68, 0));
}

.btn-voir {
  background: lightpink;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modalTitle {
  position: absolute;
  top: auto;
  /* color: lightpink; */
}

.clickable {
  cursor: pointer;
}

/* The Close Button */
.btn-close {
  position: absolute;
  top: 15px;
  right: 55px;
  color: lightpink !important;
  font-size: 80px;
  font-weight: bold;
  transition: 0.3s;
}

.btn-close:hover,
.btn-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* CSS des carousel */

#figure-GSB img {
  width: 12.5%;
  height: auto;
  float: left;
}

#figure-tennis img {
  width: 12.5%;
  height: auto;
  float: left;
}

div.slider {
  width: 80%;
  max-width: 1000px;
  overflow: hidden;
}

#carouselTennis {
  width: 20%;
}

div.slider figure {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
}

.slide {
  position: absolute;
  font-size: 50px;
}

.leftSlide {
  left: 100px;
  bottom: 50%;
  font-size: 50px;
}

.rightSlide {
  right: 100px;
  bottom: 50%;
}

/* Fin css carousel */

.stages {
  width: 60%;
  float: left;
}

.taff {
  float: right;
  width: 40%;
}

.vector {
  position: absolute;
  width: 0px;
  height: 400px;

  border: 1px solid #000000;
}

.libelle-exp {
  color: #000000;
  font-size: larger;
}

.border-exp {
  border: lightpink dashed;
}

.img-cpt {
  width: 12%;
  margin-right: 10px;
}

.img-cpt img {
  width: 100%;
}

.img-cpt p {
  color: #000000;
  font-weight: bold;
}

.cpt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}



#competences hr {
  border: 0.5px #000000 solid;
}

#anglais {
  width: 35%;
}

@media only screen and (max-width: 768px) {
  .img-cpt {
    width: 40%;
  }
  .illustration-centre {
    width: 90% !important;
  }

  .centre {
    flex-wrap: wrap !important;
  }
}

.centre {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.illustration-centre {
  width: 40%;
}

.illustration-centre img {
  width: 100%;
}

.centre-description {
  width: 100%;
}

.centre-img-right {
  width: 100%;
}