/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 sept. 2020, 12:41:51
    Author     : user
*/

/****************************************
* Body
****************************************/
body{
    background-color: #e9ecef !important;
}


/****************************************
* NavBar
****************************************/
#naved{
    background-color: pink !important;
}
.blacktxt{
    color: black;
}

.blacktxt:hover{
    color: black;
}

.greytxt{
    color: #e9ecef;
}

.greytxt:hover{
    color: #e9ecef;
}

